<!-- Actualités -->
    <section class="latest spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <span>Dernieres Nouvelles</span>
                        <h2>Passion Mode</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="blog__item">
                        <div class="blog__item__pic set-bg" data-setbg="img/blog/blog-1.jpg" style="background-image: url(&quot;img/blog/blog-1.jpg&quot;);"></div>
                        <div class="blog__item__text">
                            <span><img src="img/icon/calendar.png" alt=""> 23 Septembre 2023</span>
                            <h5>Partenariat Entre Le Luxe Et La Mode</h5>
                            <a href="#">En Savoir Plus +</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="blog__item">
                        <div class="blog__item__pic set-bg" data-setbg="img/blog/blog-2.jpg" style="background-image: url(&quot;img/blog/blog-2.jpg&quot;);"></div>
                        <div class="blog__item__text">
                            <span><img src="img/icon/calendar.png" alt=""> 27 Septembre 2023</span>
                            <h5>La Musique Et La Mode</h5>
                            <a href="#">En Savoir Plus +</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="blog__item">
                        <div class="blog__item__pic set-bg" data-setbg="img/blog/blog-3.jpg" style="background-image: url(&quot;img/blog/blog-3.jpg&quot;);"></div>
                        <div class="blog__item__text">
                            <span><img src="img/icon/calendar.png" alt=""> 28 Septembre 2023</span>
                            <h5>Les Avantages Des Lunettes Solaire</h5>
                            <a href="#">En Savoir Plus +</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Latest Blog Section End -->