 <!-- Première Bannière -->
    <section class="hero">
        <div class="hero__slider owl-carousel owl-loaded owl-drag">
            <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-1994px, 0px, 0px); transition: all 0s ease 0s; width: 5982px;"><div class="owl-item cloned" style="width: 997px;"><div class="hero__items set-bg" data-setbg="{{asset('img/hero/hero-1.jpg')}}" style="background-image: url(&quot;img/hero/hero-1.jpg&quot;);">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-5 col-lg-7 col-md-8">
                                <div class="hero__text">
                                    <h6>Saison des ventes</h6>
                                    <h2>Vend ! Prêt à faire le tri ?</h2>
                                    <p>Ici - C'est le particulier qui crée l'économie !</p>
                                    <a href="#" class="primary-btn">Shop now <span class="arrow_right"></span></a>
                                    <div class="hero__social">
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                        <a href="#"><i class="fa fa-pinterest"></i></a>
                                        <a href="#"><i class="fa fa-instagram"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div></div><div class="owl-item cloned" style="width: 997px;"><div class="hero__items set-bg" data-setbg="img/hero/hero-2.jpg" style="background-image: url(&quot;img/hero/hero-2.jpg&quot;);">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-5 col-lg-7 col-md-8">
                                <div class="hero__text">
                                    <h6>Summer Collection</h6>
                                    <h2>Fall - Winter Collections 2030</h2>
                                    <p>A specialist label creating luxury essentials. Ethically crafted with an unwavering
                                    commitment to exceptional quality.</p>
                                    <a href="#" class="primary-btn">Shop now <span class="arrow_right"></span></a>
                                    <div class="hero__social">
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                        <a href="#"><i class="fa fa-pinterest"></i></a>
                                        <a href="#"><i class="fa fa-instagram"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div></div><div class="owl-item active" style="width: 997px;"><div class="hero__items set-bg" data-setbg="{{asset('img/accueilbanniere.jpg')}}" style="background-image: url(&quot;img/accueilbanniere.jpg&quot;);">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-5 col-lg-7 col-md-8">
                                <div class="hero__text">
                                    <h6>Saison des ventes</h6>
                                    <h2>Vend ! Prêt à faire le tri ?</h2>
                                    <p>Ici - C'est le particulier qui crée l'économie !</p>
                                    <a href="{{ app.user ? path('sell') : path('app_login') }}" class="primary-btn">Vends Maintenant <span class="arrow_right"></span></a>
                                    <div class="hero__social">
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                        <a href="#"><i class="fa fa-pinterest"></i></a>
                                        <a href="#"><i class="fa fa-instagram"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {# <div class="owl-nav">
            <button type="button" role="presentation" class="owl-prev">
                <span class="arrow_left"></span>
            </button>
            <button type="button" role="presentation" class="owl-next">
                <span class="arrow_right"></span>
                </button>
        </div> #}
        <div class="owl-dots disabled">
        </div></div>
    </section>