{% extends 'base.html.twig' %}

{% block body %}
<div class="cfdtl">
    <h1>Politique de Cookies</h1>
    <p>Cette politique de cookies explique ce que sont les cookies, comment nous les utilisons sur le site VinWish, et vos options concernant leur utilisation.</p>
    <h2>Qu'est-ce qu'un cookie ?</h2>
    <p>Un cookie est un petit fichier texte placé sur votre ordinateur ou appareil mobile lorsque vous visitez un site web. Il permet au site de se souvenir de vos actions et préférences (telles que la connexion, la langue, la taille de la police et d'autres préférences d'affichage) sur une période donnée, de sorte que vous n'ayez pas à les saisir à chaque fois que vous revenez sur le site ou naviguez d'une page à une autre.</p>
    <h2>Comment nous utilisons les cookies</h2>
    <p>Nous utilisons des cookies pour diverses raisons, notamment pour analyser le trafic sur notre site, personnaliser le contenu et les annonces, fournir des fonctionnalités de médias sociaux et améliorer notre marketing. En utilisant notre site, vous consentez à l'utilisation de ces cookies conformément à cette politique de cookies.</p>
    <h2>Vos options concernant les cookies</h2>
    <p>Si vous souhaitez désactiver les cookies, vous pouvez le faire en modifiant les paramètres de votre navigateur. Veuillez noter que la désactivation des cookies peut affecter la fonctionnalité de notre site et de nombreux autres sites que vous visitez. Pour plus d'informations sur la gestion des cookies, veuillez consulter les paramètres de votre navigateur.</p>
    <h2>Modification de la politique de cookies</h2>
    <p>Nous nous réservons le droit de modifier cette politique de cookies à tout moment. Toute modification sera effective dès sa publication sur le site. Nous vous encourageons à consulter régulièrement cette politique de cookies pour rester informé des mises à jour.</p>
    <h2>Contact</h2>
    <p>Si vous avez des questions concernant notre politique de cookies, veuillez nous contacter à <a href="{{ path('app_contact')}}">Contact</a>.</p>

    En utilisant VinWish, vous consentez à l'utilisation de cookies conformément à cette politique de cookies.
</div>
{% endblock %}
