{% extends 'base.html.twig' %}

{% block body %}
<div class="cfdtl">
    <h1>Politique de Confidentialité - Vente de Vêtements d'Occasion</h1>
    <p>Bienvenue sur VinWish, une plateforme de vente en ligne de vêtements d'occasion. Nous nous engageons à protéger votre vie privée et à sécuriser les informations que vous partagez avec nous. Cette politique de confidentialité explique comment nous collectons, utilisons et protégeons vos données personnelles lorsque vous utilisez notre site.</p>
    <h2>Collecte d'Informations Personnelles</h2>
    <p>Lorsque vous créez un compte sur VinWish, nous collectons des informations personnelles telles que votre nom, votre adresse e-mail, votre adresse de livraison et vos préférences de paiement. Nous collectons également des informations sur les articles que vous achetez ou vendez sur notre plateforme, ainsi que sur vos interactions avec d'autres utilisateurs.</p>
    <h2>Utilisation des Informations Personnelles</h2>
    <p>Nous utilisons vos informations personnelles pour vous fournir nos services, traiter vos transactions, personnaliser votre expérience utilisateur et vous contacter concernant votre compte ou vos commandes. Nous pouvons également utiliser vos informations pour vous envoyer des promotions, des offres spéciales ou des informations sur nos produits, mais vous pouvez choisir de ne pas recevoir ces communications à tout moment.</p>
    <h2>Partage d'Informations Personnelles</h2>
    <p>Nous ne vendons, n'échangeons ni ne louons vos informations personnelles à des tiers à des fins commerciales. Cependant, nous pouvons partager vos informations avec des prestataires de services tiers qui nous aident à exploiter notre site ou à fournir nos services, tels que les services de paiement ou de livraison. Nous exigeons de ces tiers qu'ils maintiennent la confidentialité de vos informations et qu'ils n'utilisent vos données que dans le cadre de la prestation des services pour lesquels ils sont engagés.</p>
    <h2>Sécurité des Données</h2>
    <p>Nous prenons des mesures pour protéger vos informations personnelles contre la perte, le vol, l'accès non autorisé, la divulgation, la modification ou la destruction. Cela inclut la sécurisation de notre site web avec des protocoles de sécurité appropriés et la limitation de l'accès à vos informations aux employés qui en ont besoin pour fournir nos services.</p>
    <h2>Vos Choix et Vos Droits</h2>
    <p>Vous avez le droit d'accéder, de mettre à jour ou de supprimer vos informations personnelles à tout moment. Vous pouvez également choisir de désactiver les cookies dans votre navigateur web ou de vous désinscrire de nos communications marketing. Pour exercer ces droits ou pour toute question concernant notre politique de confidentialité, veuillez nous contacter à <a href="{{ path('app_contact')}}">Contact</a>.

    En utilisant VinWish, vous consentez à la collecte et à l'utilisation de vos informations personnelles conformément à cette politique de confidentialité. Cette politique est sujette à modification, et toute modification sera publiée sur cette page. Veuillez consulter régulièrement cette politique pour rester informé de nos pratiques en matière de confidentialité.</p>
</div>
{% endblock %}