{% extends 'base.html.twig' %}

{% block body %}
<div class="cfdtl">
    <h1>Conditions Générales d'Utilisation - Vente de Vêtements d'Occasion</h1>
    <p>Merci de lire attentivement ces Conditions Générales d'Utilisation ("CGU") avant d'utiliser le site VinWish. En accédant ou en utilisant le site, vous acceptez d'être lié par ces CGU. Si vous n'acceptez pas toutes les conditions de ces CGU, vous ne devez pas accéder au site ni utiliser nos services.</p>
    <h2>Compte Utilisateur</h2>
    <p>Pour utiliser certaines fonctionnalités du site, vous devrez créer un compte utilisateur. Vous êtes responsable de maintenir la confidentialité de votre compte et de votre mot de passe, ainsi que de toutes les activités qui se produisent sous votre compte.</p>
    <h2>Contenu Utilisateur</h2>
    <p>Vous êtes seul responsable du contenu que vous publiez sur VinWish, y compris les articles que vous vendez et les commentaires que vous laissez. Vous acceptez de ne pas publier de contenu qui enfreint les droits de propriété intellectuelle d'autrui ou qui est diffamatoire, offensant ou illégal.</p>
    <h2>Responsabilité</h2>
    <p>VinWish ne peut être tenu responsable des dommages directs, indirects, accessoires, spéciaux ou consécutifs résultant de l'utilisation ou de l'impossibilité d'utiliser le site, ou de tout contenu affiché sur le site.</p>
    <h2>Modification des CGU</h2>
    <p>Nous nous réservons le droit de modifier ces CGU à tout moment, et toute modification sera effective dès sa publication sur le site. Nous vous encourageons à consulter régulièrement les CGU pour rester informé des mises à jour.</p>
    <h2>Droit Applicable</h2>
    <p>Ces CGU sont régies et interprétées conformément aux lois en vigueur. En cas de litige, les tribunaux compétents seront ceux désignés par la loi.</p>
    <h2>Contact</h2>
    <p>Pour toute question concernant ces CGU, veuillez nous contacter à <a href="{{ path('app_contact')}}">Contact</a>.</p>

    En utilisant VinWish, vous acceptez d'être lié par ces Conditions Générales d'Utilisation. Si vous n'acceptez pas ces CGU dans leur intégralité, vous ne pouvez pas utiliser notre site.
</div>
{% endblock %}
